<header>
    <h1 class="encabezado">Página para buscar la información de cliente y de empleado</h1>
</header>

<div>
    <div class="busqueda">
        <input type="text" class="long-input" required maxLength="10" minlength="10"
            [(ngModel)]="codigo" placeholder="Ingrese el código de la persona 10(dígitos)">
    </div>

    <div class="botones-busqueda">
        <div class="row col-12 d-flex justify-content-center botones">
            <div class="col-md-3 col-6 boton-grid">
                <button mat-raised-button color="primary" (click)=" buscarCliente()">
                    Buscar Cliente
                    <mat-icon fontIcon="search"></mat-icon>
                </button>
            </div>
            <div class="col-md-3 col-6 boton-grid">
                <button mat-raised-button color="primary" (click)=" buscarCliente()">
                    Buscar Empleado
                    <mat-icon fontIcon="search"></mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>